[Unit]
Description=VNC Server for X11
After=startx.target graphical.target network.target

[Service]
Type=simple
User=user
ExecStart=/usr/bin/x11vnc -rfbauth /home/user/.vnc/passwd -mdns -auth guess -ncache 10 -forever -display :0 -noxdamage -rfbport 5900
RestartSec=3
Restart=on-failure

[Install]
WantedBy=graphical.target
